---
title: Arcana
layout: default
---			
ul.indent {
	padding-left: 10px;
	list-style: disc;
}
<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div class="row double">
				<div class="3u">
					<div id="sidebar1">

						<!-- Sidebar 1 -->
							{% include project_sidebar_left.html %}
				
					</div>
				</div>
				<div class="6u skel-cell-important">
					<div id="content">

						<!-- Content -->
					
							<article>
								<header>
									<h2>Project Orange River</h2>
									<h3>Problem Statement</h3>
								</header>
								
								<span class="image featured"><img src="{{ site.baseurl }}/assets/images/banner.jpg" alt="" /></span>
								
								<p>Intelligent River develops and operates hydrological observation systems 
								to support research and provide real-time monitoring, analysis, and management 
								of water resources. The program has typically focused on resilient data collection. 
								However, these systems are missing the infrastructure to support real-time decision making.</p>
								
								<h3>Solution Statement</h3>
								<p>With this project, we want to create an implementation of cloud-based services that 
								ingest both historical and streaming data collected from the multiple sensors and sources 
								that exist in the Intelligent River systems already. These services will allow for the analytical 
								exploration of the following topics in real-time:</p>
								<ul class="indent">
									<li>Visualization of streaming data</li>
									<li>Detection of anomalies</li>
									<li>Event detection or classification</li>
									<li>Clustering of similar data points for visualization</li>
									<li>Prediction of future sensor readings or events</li>
								</ul>

							</article>
				
					</div>
				</div>
				<div class="3u">
					<div id="sidebar2">

						<!-- Sidebar 2 -->
							{% include project_sidebar_right.html %}
							
					</div>
				</div>
			</div>
		</div>
	</section>			